*.class
*.log

# sbt specific
**/.cache
**/.history
**/.lib/
**/dist/*
**/target/
**/lib_managed/
**/src_managed/
**/project/boot/
**/project/plugins/project/

# Intellij
*.iml

# Since the doc reccomends share all the .iml module files let's exclude at least following:
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/dictionaries